.answer {
  &__data-info, p {
    text-align: end;
    font-size: 12px;
    margin: 0.5rem 0 0 0;
  }

  &__content {
    @extend .d-flex, .flex-column;
    justify-content: center;
  }

  .correct-answer {
    font-size: 2rem;
    color: #33cccc !important;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
  }
}