.header-question {
  .filter-button {
    padding: 8px 22px;
    background-color: transparent;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.75) !important;

    &.selected {
      background-color: black;
      color: white
    }
  }

  .filters-container {
    position: relative;
  }

  .filter-tags-label {
    margin-right: 8px;
    padding: 5px;
    padding-left: 0;
  }

  .filter-menu {
    width: 100%;
    position: absolute;
    z-index: 1;
    padding: 16px 24px;
    top: 55px;
    right: 0;

    &__label {
      font-weight: 700;
      margin-bottom: 10px;
    }

    &__btn {
      padding: 4px 10px;
    }

    .MuiFormControlLabel {
      &-root {
        margin: 0 12px 0 0 !important;
      }

      &-labelPlacementStart {
        margin: 0 !important;
      }
    }
  }
}