.navbar {
  @extend .align-center;

  position: fixed !important;
  z-index: 99999;
  height: 54px;
  width: 100%;
  background-color: black;
  color: white;
  justify-content: space-between;

  .logo {
    width: 42px;
    height: 64px;
    margin-left: 1rem;
  }

  .icon {
    width: 36px;
    height: 36px;
  }
}

.nav {
  &-left, &-right {
    @extend .align-center, .h-100;
  }

  &-left {
    width: 60%;
  }

  &-right {
    .notifications-icon {
      display: flex;
      align-items: center;
    }
  }
}

.MuiMenu-paper {
  padding: 0.5rem;
  width: 300px;
  max-height: 300px !important;

  li {
    word-wrap: break-word;      
    word-break: break-all;
    white-space: normal !important;
    overflow-wrap: break-word;  
    margin-top: 0.3rem;
  }
}