.person-details {
  @extend .container-center;

  .profile-picture {
    width: 48px;
    height: 48px;
    cursor: pointer;
  }

  .details {
    @extend .container-center;
    flex-direction: column;

    height: 100%;
    padding: 12px 15px;

    h4 {
      margin: 0 !important;
    }
  }
}