.proposal {
  height: 100%;
  width: 100%;
  position: relative;

  .css-rq9a2a-diff-removed,
  .tag__removed {
    background: #c00000a2;
  }

  .css-cnnxkz-diff-added,
  .tag {
    background: #11a686b6;
  }
}