.question-card {
  border: 1px solid #606060;
  padding: 24px;
  margin: 24px 0;

  &__head {
    justify-content: center;
    display: flex;
    flex-direction: column;

    .numbers {
      font-weight: bold;      
      line-height: 24px;
    }
  }

  &__body {
    margin-left: 24px;
    width: 100%;

    .title {
      font-weight: 500;
      font-size: 20px;
      line-height: 32px;
      cursor: pointer;
    }

    .body {
      margin-bottom: 14px;
    }

    .card-info {
      text-align: end;
    }
  }
}