.tag {
  padding: 8px 16px;
  margin-right: 8px;
  background: #C4C4C4;
  font-size: 14px;

  &__new {
    background: #acf2bd;
  }

  &__removed {
    background: #fdb8c0;
  }
}

.no-data-message {
  @extend .container-center;

  height: 200px;
  opacity: 0.7;
}

.horizontal-hr {
  height: 1px;
  width: 100%;
  background: #000000;
}