.notification-container {
  top: 60px !important;

  .notification {
    box-shadow: none !important;

    &.notification-success {
      background-color: #11a686;
    }

    &.notification-error {
      background-color: #c00000;
    }
  }
}