html,
body,
#root {
  height: 100%;
  margin: 0;
}


main {
  // The navbar has height of 64px
  padding-top: 64px;
  height: calc(100% - 64px);
}

.container-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}

a {
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

