html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}


main {
  // The navbar has height of 54px
  padding-top: 54px;
  height: calc(100% - 54px);
}

.container-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}

a {
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.MuiTypography-root {
  margin-left: 5px;
}